.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ing_container {
  height: 650px;
  width: 600px;
  overflow-x: overlay;
}
.counter_wrapper {
  position: relative;
  width: 80%;
  font-size: 12px;
}
