.wrapper {
  height: 629px;
  overflow-x: overlay;
  font-size: 16px;
}
.ml {
  margin-left: 40px;
}
.decor_wrap {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.decor_wrap_dnd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: 'relative';
}
.content_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
