.tabs_wrapper {
  max-width: 60rem;
  width: 100%;
  height: 5.6rem;
  box-shadow: 0px -1px 0px 0px #2f2f37 inset;
  display: flex;
  justify-content: space-around;
}
.active {
  box-shadow: 0px -2px 0px 0px #4c4cff inset;
  color: rgba(242, 242, 243, 1);
}
