.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.p {
  font-family: 'Iceland', cursive;
}
.decor_wrapper_price {
  display: flex;
  margin-left: 40px;
  gap: 8px;
  align-items: center;
}
