.modal {
  display: none;
}
.active {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.decor_wrapper_icon {
  max-width: 640px;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal__content {
  padding: 20px;
  border-radius: 40px;
  background: rgb(28, 28, 33);
  height: 718px;
  width: 720px;
  display: flex;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__content_ingr {
  display: flex;
  flex-direction: column;
  background: rgb(28, 28, 33);
  border-radius: 40px;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  width: 100%;
  height: 539px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 60px;
}

.h2 {
  color: var(--text-primary-light-standart-text, #f2f2f3);
  font-family: 'Jet Brains Mono';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-right: 227px;
}
