header {
  grid-column: 1/-1;
  height: 88px;
  background: #1c1c21;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  max-width: 1280px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn_wrapper {
  display: flex;
  max-width: 393px;
  width: 100%;
  height: 56px;
  justify-content: flex-end;
}
.btn_block_item {
  display: flex;
  max-width: 178px;
  width: 100%;
  height: 56px;
}

.a {
  text-decoration: none;
  color: rgba(133, 133, 173, 1);
}
.btn_item2 {
  max-width: 207px;
  width: 100%;
}
.active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
